/* reseteo de css */
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: aquamarine;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0%;
}

.link¨{
    display: inline;
    margin: 0 10px;
}

ul{
    text-align: end;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: bisque;
}

.logo{
    width: 50px;
    position: absolute;
    top: 15px;
    left: 30px;
}

.imgContainer img{
    display: block;
    margin: auto;
}

