*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: whitesmoke;
}
ul{
   list-style: none;
   display: flex;
   font-size: 20px;
   margin-left: 1 rem;
   }
a{
    text-decoration: none;
}
