/* Reseteo de CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: whitesmoke;
}

header{
    display:flex;
    background: rgb(247,187,136);
    background: -moz-radial-gradient(circle, rgba(247,187,136,1) 0%, rgba(240,182,106,0.9290091036414566) 30%, rgba(241,204,85,0.9458158263305322) 44%, rgba(241,213,153,0.8729866946778712) 100%);
    background: -webkit-radial-gradient(circle, rgba(247,187,136,1) 0%, rgba(240,182,106,0.9290091036414566) 30%, rgba(241,204,85,0.9458158263305322) 44%, rgba(241,213,153,0.8729866946778712) 100%);
    background: radial-gradient(circle, rgba(247,187,136,1) 0%, rgba(240,182,106,0.9290091036414566) 30%, rgba(241,204,85,0.9458158263305322) 44%, rgba(241,213,153,0.8729866946778712) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7bb88",endColorstr="#f1d599",GradientType=1);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:end;
    align-items:center;
    padding: 50px 15px;
    border-radius: 15%;
}

.link{
    display: grid;
    margin: 0 20px;
    padding: 15px;
}


ul{
    list-style: none;
    display: flex;
    font-size: 20px;

}

a{
    text-decoration:none;
    color: black;
}


.logo{
    width: 100px;
    position: absolute;
    top: 10px;
    left: 30px;
    border-radius: 30px;
}


ul li{
    margin-left: 1rem;
}

.hero{
    display: flex;
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: rgb(250,247,224);
    background: -moz-radial-gradient(circle, rgba(250,247,224,1) 0%, rgba(250,243,219,0.8897934173669468) 100%);
    background: -webkit-radial-gradient(circle, rgba(250,247,224,1) 0%, rgba(250,243,219,0.8897934173669468) 100%);
    background: radial-gradient(circle, rgba(250,247,224,1) 0%, rgba(250,243,219,0.8897934173669468) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#faf7e0",endColorstr="#faf3db",GradientType=1);
    font-size: 25px;
    transition: heigth 3s; background: 1s;
}
.hero:hover{
    height: 150px;
}

.contenedor{
    display: grid;
    grid-template-areas: "img title" "img title" "img title";
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 25px;
    column-gap: 1rem;
}
.contenedor-title{
    grid-area: auto;
}
.contenedor-title{
    grid-area: auto;
}
.contenedor-title{
    grid-area: auto;
}

main{
    text-align: center;
}

footer{
    display: grid;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(247,187,136);
    background: -moz-radial-gradient(circle, rgba(247,187,136,1) 0%, rgba(240,182,106,0.9290091036414566) 30%, rgba(241,204,85,0.9458158263305322) 44%, rgba(241,213,153,0.8729866946778712) 100%);
    background: -webkit-radial-gradient(circle, rgba(247,187,136,1) 0%, rgba(240,182,106,0.9290091036414566) 30%, rgba(241,204,85,0.9458158263305322) 44%, rgba(241,213,153,0.8729866946778712) 100%);
    background: radial-gradient(circle, rgba(247,187,136,1) 0%, rgba(240,182,106,0.9290091036414566) 30%, rgba(241,204,85,0.9458158263305322) 44%, rgba(241,213,153,0.8729866946778712) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7bb88",endColorstr="#f1d599",GradientType=1);
    padding: 10px 10px;
    margin-top: 30px;
}

/*medias queries*/

@media screen and (max-width:480px)
{
    body {
        display: flex;
        background-color: aliceblue;
        flex-direction: column;
    }
    header {
        display: flex;
        justify-content: center;
        padding: 10;
        height: 150px;
    }
    .hero {
        display: flex;
        background-color: lightpink;
    }
    .contenedor{
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav {
        height: 100%;
    }
    .contenedor-title{
        height: auto;
    }
    ul{
        list-style: none;
        display: flex;
        height: 100%;
        font-size: 20px;
        justify-content: space-around;
        flex-direction: column;
    }
    .contenedor{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        padding: 0 25px;
    }
    .hero{
        width: 100%;
    }
    .hero h1{
        font-size: 1rem;
    }
    main h2{
        margin: 30px 0;
    }
}

@media screen and (min-width: 768px)
{
    body{
        display: flex;
        background-color: beige;
        flex-direction: column;
    }
    header{
        display: flex;
    }
    main h2{
        margin: 30px 0;
    }
    .hero{
        display: flex;
        background-color: plum;
    }

    .contenedor{
        grid-template-areas: "box1 box2" "box3 box3";
        grid-template-columns: none;
        column-gap: 1rem;
        padding: 0 25px;
    }
    .contenedor div:last-of-type
    {
        grid-area: box3;
    }
    
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: text-pop-up-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
 
/* ----------------------------------------------
 * Generated by Animista on 2022-6-14 19:41:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  @keyframes text-pop-up-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: none;
    }
    100% {
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
  }
  

  .scale-out-center {
	-webkit-animation: scale-out-center 0.7s ease-out reverse forwards;
	        animation: scale-out-center 0.7s ease-out reverse forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-14 18:55:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  







    
    


